@media screen and (min-width: 600px) {
   
.mainbody {
    display: flex;
    height: 100vh ;
    background-color: #FBBD08;

}
#leftbox {
    /* border-style: dotted; */
    flex-grow: 1.4;
}
#imageContainer {
    display: flex;
    /* border-style: dashed; */
    align-items: center;
}
#pedro {
    max-width: 500px !important;
    border-style: solid !important;
    border-color: white !important;
    border-width: thin;
}
#rightbox {
    display: flex;
    /* border-style: dashed; */
    background-color: white;
    flex-grow: 1;
    align-items: center;
    justify-content: left;
}

#menu {   
     /* border-style:dashed; */
     margin-left: 2rem;
} 
  }


/* phone size and below */

@media screen and (max-width: 599px) {
    .mainbody {
        background-color: #FBBD08;
    }
    #pedro {
        max-width: 500px !important;
    }

    #rightbox {
        /* border-style: dashed; */
        background-color: white;
        align-items: center;
        justify-content: left;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #menu {   
        /* border-style:dashed; */
        margin-left: 2rem;
   }
}